.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    color: var(--text-dim);
    gap: 0.75rem;
    font-size: 0.9rem;
}

.Asset img {
    opacity: 0.5;
}
