.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #2142b2;
}

.Links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.Links i {
    margin-right: 0.5rem;
}

.NavLink:hover {
    color: #0056b3;
}